.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 597px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 582px;
}

.u-section-1 .u-container-layout-1 {
  padding: 9px 0 4px;
}

.u-section-1 .u-accordion-1 {
  width: 204px;
  margin: 21px auto 0;
}

.u-section-1 .u-accordion-link-1 {
  background-image: none;
  font-weight: normal;
  padding: 20px 30px;
}

.u-section-1 .u-icon-1 {
  height: 18px;
  width: 18px;
  background-image: none;
}

.u-section-1 .u-accordion-pane-1 {
  min-height: 205px;
  background-image: none;
}

.u-section-1 .u-container-layout-2 {
  padding: 10px 7px;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  font-size: 0.9375rem;
  background-image: none;
  font-weight: normal;
  margin: 0;
  padding: 10px 65px;
}

.u-section-1 .u-btn-2 {
  border-style: none;
  font-size: 0.9375rem;
  background-image: none;
  font-weight: normal;
  margin: 5px 0 0;
  padding: 8px 65px;
}

.u-section-1 .u-btn-3 {
  border-style: none;
  font-size: 0.9375rem;
  background-image: none;
  font-weight: normal;
  margin: 6px 0 0;
  padding: 8px 65px;
}

.u-section-1 .u-btn-4 {
  border-style: none;
  font-size: 0.9375rem;
  background-image: none;
  font-weight: normal;
  margin: 10px auto 0 0;
  padding: 8px 62px;
}

.u-section-1 .u-btn-5 {
  border-style: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  font-weight: normal;
  margin: 0 auto;
  padding: 17px 62px 18px 61px;
}

.u-section-1 .u-icon-2 {
  width: 18px;
  height: 18px;
  animation-duration: 1000ms;
  margin: -39px auto 0 55px;
}

.u-section-1 .u-btn-6 {
  border-style: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  font-weight: normal;
  margin: 21px auto 0;
  padding: 17px 85px 18px;
}

.u-section-1 .u-icon-3 {
  width: 18px;
  height: 18px;
  animation-duration: 1000ms;
  color: rgb(133, 142, 153) !important;
  margin: -39px auto 0 55px;
}

.u-section-1 .u-btn-7 {
  border-style: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  font-weight: normal;
  margin: 21px auto 0;
  padding: 17px 85px 18px;
}

.u-section-1 .u-icon-4 {
  width: 18px;
  height: 18px;
  animation-duration: 1000ms;
  color: rgb(133, 142, 153) !important;
  margin: -39px auto 0 55px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 597px;
}

.u-section-1 .u-container-layout-3 {
  padding: 21px 0;
}

.u-section-1 .u-group-1 {
  width: 880px;
  min-height: 542px;
  background-image: none;
  box-shadow: -2px 2px 8px 0 rgba(128,128,128,1);
  margin: 8px auto -4px;
}

.u-section-1 .u-container-layout-4 {
  padding: 0 8px;
}

.u-section-1 .u-icon-5 {
  width: 25px;
  height: 25px;
  margin: 9px 372px 0 auto;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: -25px 278px 0 auto;
}

.u-section-1 .u-form-1 {
  height: 337px;
  margin: 0 6px 0 458px;
}

.u-section-1 .u-form-group-1 {
  margin-left: 0;
}

.u-section-1 .u-label-1 {
  font-size: 1.125rem;
}

.u-section-1 .u-form-group-2 {
  margin-left: 0;
}

.u-section-1 .u-label-2 {
  letter-spacing: 0px;
  font-size: 1.125rem;
}

.u-section-1 .u-form-group-3 {
  margin-left: 0;
}

.u-section-1 .u-label-3 {
  letter-spacing: 0px;
  font-size: 1.125rem;
}

.u-section-1 .u-group-2 {
  width: 430px;
  min-height: 424px;
  margin: -333px auto 0 13px;
}

.u-section-1 .u-container-layout-5 {
  padding: 4px 0;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  margin: 0 359px 0 30px;
}

.u-section-1 .u-group-3 {
  width: 400px;
  min-height: 30px;
  margin: 17px auto 0 0;
}

.u-section-1 .u-container-layout-6 {
  padding: 0 30px;
}

.u-section-1 .u-text-3 {
  margin-bottom: auto;
  margin-top: 3px;
}

.u-section-1 .u-text-4 {
  font-weight: 700;
  margin: 17px 289px 0 30px;
}

.u-section-1 .u-group-4 {
  width: 400px;
  min-height: 30px;
  margin: 17px auto 0 0;
}

.u-section-1 .u-container-layout-7 {
  padding: 0 30px;
}

.u-section-1 .u-text-5 {
  margin-bottom: 0;
  margin-top: 3px;
}

.u-section-1 .u-text-6 {
  font-weight: 700;
  margin: 19px 134px 0 30px;
}

.u-section-1 .u-group-5 {
  width: 400px;
  min-height: 41px;
  margin: 17px auto 0 0;
}

.u-section-1 .u-container-layout-8 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-1 .u-text-7 {
  margin: 3px auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 492px;
  }

  .u-section-1 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 480px;
  }

  .u-section-1 .u-accordion-1 {
    width: 188px;
  }

  .u-section-1 .u-btn-5 {
    padding-left: 79px;
    padding-right: 79px;
  }

  .u-section-1 .u-btn-6 {
    padding-right: 97px;
    padding-left: 96px;
  }

  .u-section-1 .u-btn-7 {
    padding-right: 97px;
    padding-left: 96px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 492px;
  }

  .u-section-1 .u-group-1 {
    width: 752px;
  }

  .u-section-1 .u-icon-5 {
    margin-right: 317px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 237px;
  }

  .u-section-1 .u-form-1 {
    margin-right: 0;
    margin-left: 336px;
    width: 400px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-1 .u-container-layout-8 {
    padding-bottom: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-accordion-1 {
    width: 144px;
  }

  .u-section-1 .u-icon-2 {
    margin-left: 42px;
  }

  .u-section-1 .u-icon-3 {
    margin-left: 42px;
  }

  .u-section-1 .u-icon-4 {
    margin-left: 42px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-group-1 {
    width: 576px;
  }

  .u-section-1 .u-icon-5 {
    margin-right: 241px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 180px;
  }

  .u-section-1 .u-form-1 {
    margin-left: 160px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 200px;
  }

  .u-section-1 .u-group-1 {
    width: 540px;
  }

  .u-section-1 .u-icon-5 {
    margin-right: 226px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 168px;
  }

  .u-section-1 .u-form-1 {
    margin-left: 124px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-group-1 {
    width: 340px;
  }

  .u-section-1 .u-icon-5 {
    margin-right: 140px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 104px;
  }

  .u-section-1 .u-form-1 {
    margin-left: 0;
    width: 324px;
  }

  .u-section-1 .u-group-2 {
    width: 324px;
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    margin-right: 30px;
  }

  .u-section-1 .u-group-3 {
    width: 324px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 213px;
    margin-left: 0;
  }

  .u-section-1 .u-group-4 {
    width: 324px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 58px;
    margin-left: 0;
  }

  .u-section-1 .u-group-5 {
    width: 324px;
  }
}