.u-section-1 .u-sheet-1 {
  min-height: 981px;
}

.u-section-1 .u-layout-wrap-1 {
  width: 1246px;
  margin: 40px -53px 60px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 865px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-1 .u-group-1 {
  width: 322px;
  min-height: 275px;
  margin: 0 26px;
}

.u-section-1 .u-container-layout-2 {
  padding: 9px 30px;
}

.u-section-1 .u-group-2 {
  width: 221px;
  min-height: 190px;
  margin: 8px auto 0;
}

.u-section-1 .u-container-layout-3 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-1 .u-image-1 {
  width: 190px;
  background-image: url("images/626507406-01.png");
  background-position: 50% 50%;
}

.u-section-1 .u-group-3 {
  width: 265px;
  min-height: 220px;
  margin: -8px auto -22px -16px;
}

.u-section-1 .u-container-layout-4 {
  padding: 0 0 5px;
}

.u-section-1 .u-text-1 {
  margin: 30px auto 0;
}

.u-section-1 .u-group-4 {
  width: 321px;
  min-height: 427px;
  margin: 37px auto 0;
}

.u-section-1 .u-container-layout-5 {
  padding: 12px 22px;
}

.u-section-1 .u-group-5 {
  min-height: 95px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-6 {
  padding-left: 15px;
  padding-right: 15px;
}

.u-section-1 .u-text-2 {
  margin: 7px auto 0 0;
}

.u-section-1 .u-group-6 {
  width: 244px;
  min-height: 53px;
  margin: 1px auto 0;
}

.u-section-1 .u-container-layout-7 {
  padding-left: 7px;
  padding-right: 7px;
}

.u-section-1 .u-text-3 {
  margin: 0 auto 0 7px;
}

.u-section-1 .u-text-4 {
  margin: -29px auto 0 19px;
}

.u-section-1 .u-text-5 {
  margin: -22px auto 0 94px;
}

.u-section-1 .u-text-6 {
  margin: -27px 54px 0 auto;
}

.u-section-1 .u-group-7 {
  min-height: 96px;
  margin-bottom: 0;
  margin-top: 24px;
}

.u-section-1 .u-container-layout-8 {
  padding-left: 14px;
  padding-right: 14px;
}

.u-section-1 .u-text-7 {
  margin: 2px auto 0 0;
}

.u-section-1 .u-group-8 {
  width: 234px;
  min-height: 54px;
  margin: 6px 8px 0 6px;
}

.u-section-1 .u-container-layout-9 {
  padding-left: 10px;
  padding-right: 10px;
}

.u-section-1 .u-text-8 {
  margin: 10px auto 0 0;
}

.u-section-1 .u-text-9 {
  margin: -25px auto 0 44px;
}

.u-section-1 .u-text-10 {
  margin: -25px auto 0 57px;
}

.u-section-1 .u-text-11 {
  margin: -24px auto 0 93px;
}

.u-section-1 .u-text-12 {
  margin: -25px 88px 0 auto;
}

.u-section-1 .u-group-9 {
  min-height: 162px;
  margin-bottom: 0;
  margin-top: 26px;
}

.u-section-1 .u-container-layout-10 {
  padding-left: 14px;
  padding-right: 14px;
}

.u-section-1 .u-text-13 {
  margin: 2px auto 0 0;
}

.u-section-1 .u-group-10 {
  width: 220px;
  min-height: 51px;
  margin: 3px 10px 0 auto;
}

.u-section-1 .u-container-layout-11 {
  padding-top: 0;
  padding-bottom: 0;
}

.u-section-1 .u-group-11 {
  width: 99px;
  min-height: 31px;
  margin: 11px 58px 0 auto;
}

.u-section-1 .u-text-14 {
  font-size: 1rem;
  margin: -39px 166px 0 25px;
}

.u-section-1 .u-group-12 {
  width: 220px;
  min-height: 60px;
  margin: 23px 10px 0 auto;
}

.u-section-1 .u-container-layout-13 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-1 .u-group-13 {
  width: 103px;
  min-height: 35px;
  margin: 9px 20px 0 auto;
}

.u-section-1 .u-text-15 {
  margin: -46px 166px 0 25px;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 21px auto 0;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 865px;
}

.u-section-1 .u-container-layout-15 {
  padding: 8px 0;
}

.u-section-1 .u-group-14 {
  min-height: 220px;
  width: 816px;
  margin: 22px 28px 0;
}

.u-section-1 .u-container-layout-16 {
  padding: 14px 18px;
}

.u-section-1 .u-text-16 {
  margin: 0 auto 0 0;
}

.u-section-1 .u-group-15 {
  width: 647px;
  min-height: 145px;
  margin: 12px 28px 0 auto;
}

.u-section-1 .u-container-layout-17 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-1 .u-group-16 {
  min-height: 236px;
  width: 814px;
  margin: 16px auto 0;
}

.u-section-1 .u-container-layout-18 {
  padding: 0 30px 0 20px;
}

.u-section-1 .u-group-17 {
  width: 627px;
  min-height: 189px;
  margin: 37px 16px 0 auto;
}

.u-section-1 .u-container-layout-19 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-1 .u-text-17 {
  margin: -222px auto 0 49px;
}

.u-section-1 .u-group-18 {
  min-height: 323px;
  width: 818px;
  margin: 213px auto 0;
}

.u-section-1 .u-container-layout-20 {
  padding: 15px 30px 15px 20px;
}

.u-section-1 .u-text-18 {
  margin: 4px auto 0 0;
}

.u-section-1 .u-group-19 {
  width: 220px;
  min-height: 217px;
  margin: 14px auto 0 0;
}

.u-section-1 .u-container-layout-21 {
  padding-bottom: 0;
}

.u-section-1 .u-image-2 {
  width: 135px;
  height: 135px;
  background-image: url("images/626507406-0.jpeg");
  background-position: 50% 50%;
  margin: 16px auto 0;
}

.u-section-1 .u-group-20 {
  width: 186px;
  min-height: 158px;
  margin: -141px auto 0 16px;
}

.u-section-1 .u-container-layout-22 {
  padding-top: 0;
  padding-bottom: 0;
}

.u-section-1 .u-text-19 {
  margin: 3px auto 0;
}

.u-section-1 .u-group-21 {
  width: 220px;
  min-height: 217px;
  margin: -222px auto 0 269px;
}

.u-section-1 .u-container-layout-23 {
  padding: 30px;
}

.u-section-1 .u-group-22 {
  width: 220px;
  min-height: 217px;
  margin: -217px 10px 5px auto;
}

.u-section-1 .u-container-layout-24 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 769px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 940px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 592px;
  }

  .u-section-1 .u-group-1 {
    width: 282px;
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-image-1 {
    width: auto;
  }

  .u-section-1 .u-group-3 {
    width: 221px;
    margin-left: 0;
  }

  .u-section-1 .u-container-layout-4 {
    padding: 30px;
  }

  .u-section-1 .u-group-4 {
    width: 282px;
  }

  .u-section-1 .u-group-6 {
    width: 209px;
  }

  .u-section-1 .u-text-5 {
    margin-left: 80px;
  }

  .u-section-1 .u-group-8 {
    width: 211px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-container-layout-9 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-1 .u-text-11 {
    margin-left: 83px;
  }

  .u-section-1 .u-text-12 {
    margin-right: 78px;
  }

  .u-section-1 .u-group-10 {
    width: 211px;
    margin-right: 0;
  }

  .u-section-1 .u-text-14 {
    margin-right: 147px;
    margin-left: 6px;
  }

  .u-section-1 .u-group-12 {
    width: 211px;
    margin-right: 0;
  }

  .u-section-1 .u-container-layout-13 {
    padding-top: 30px;
    padding-bottom: 10px;
  }

  .u-section-1 .u-text-15 {
    margin-right: 147px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 558px;
  }

  .u-section-1 .u-group-14 {
    width: 658px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-group-15 {
    width: 622px;
    margin-right: 0;
  }

  .u-section-1 .u-group-16 {
    width: 658px;
  }

  .u-section-1 .u-group-17 {
    width: 608px;
    margin-right: 0;
  }

  .u-section-1 .u-group-18 {
    width: 658px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 216px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-group-1 {
    width: 216px;
  }

  .u-section-1 .u-group-2 {
    width: 157px;
  }

  .u-section-1 .u-group-3 {
    width: 157px;
    margin-top: 25px;
  }

  .u-section-1 .u-group-4 {
    width: 216px;
  }

  .u-section-1 .u-group-6 {
    width: 143px;
  }

  .u-section-1 .u-text-5 {
    margin-left: 53px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 36px;
  }

  .u-section-1 .u-group-8 {
    width: 145px;
  }

  .u-section-1 .u-text-9 {
    margin-left: 29px;
  }

  .u-section-1 .u-text-10 {
    margin-left: 37px;
  }

  .u-section-1 .u-text-11 {
    margin-left: 54px;
  }

  .u-section-1 .u-text-12 {
    margin-right: 51px;
  }

  .u-section-1 .u-group-10 {
    width: 145px;
  }

  .u-section-1 .u-group-11 {
    margin-right: 45px;
  }

  .u-section-1 .u-text-14 {
    margin-right: 87px;
    margin-left: 0;
  }

  .u-section-1 .u-group-12 {
    width: 145px;
  }

  .u-section-1 .u-group-13 {
    width: 84px;
    margin-right: 0;
  }

  .u-section-1 .u-text-15 {
    margin-right: 87px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 427px;
  }

  .u-section-1 .u-group-14 {
    width: 504px;
  }

  .u-section-1 .u-group-15 {
    width: 468px;
  }

  .u-section-1 .u-group-16 {
    width: 504px;
  }

  .u-section-1 .u-group-17 {
    width: 454px;
  }

  .u-section-1 .u-group-18 {
    width: 504px;
  }

  .u-section-1 .u-group-21 {
    margin-left: 234px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 316px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-10 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-13 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 698px;
  }

  .u-section-1 .u-container-layout-16 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-18 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-19 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-20 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-23 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-24 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 439px;
  }

  .u-section-1 .u-group-14 {
    width: 340px;
  }

  .u-section-1 .u-group-15 {
    width: 320px;
  }

  .u-section-1 .u-group-16 {
    width: 340px;
  }

  .u-section-1 .u-group-17 {
    width: 320px;
  }

  .u-section-1 .u-group-18 {
    width: 340px;
  }

  .u-section-1 .u-group-21 {
    margin-left: 100px;
  }
}