.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 507px;
}

.u-section-1 .u-group-1 {
  width: 820px;
  min-height: 432px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 45px auto 30px 150px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-group-1 {
    margin-left: 120px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-group-1 {
    width: 720px;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-group-1 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-group-1 {
    width: 340px;
  }
}